body{
  background-color: #ECF0F1;
}

.GamesTable{
  padding: 0 5px 0 15px;
}

.datesecme{
  float: right;
}

.event {
  width: 100%;
  font-size: 11px;
  margin: 0;
  background-color: #ffffff;
  position: relative;
  padding: 10px 0;
  border-bottom: #4E6C76 1px solid;
}


.live-score-band {
  background-color: #193d44;
}

.live-score-band button {
  color: #fff;
}

.live-score-table{
  margin-top: 40px;
}

.live-score-table .no-match-live{
  text-align: center;
}

.content{
  background: #fff;
  padding: 10px 10px;
}

@media (max-width: 320px) {
  .container{
      max-width: 100%;
  }
}